SAIL_main/Development/SAIL/DataFactory/pipeline/History Load/automate history load.json
{
    "name": "automate history load",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Validate Metdata File Path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "ds_adls2_metadata_json",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_metadata_container": {
                                "value": "@pipeline().parameters.p_metadata_container",
                                "type": "Expression"
                            },
                            "p_metadata_folder_Path": {
                                "value": "@pipeline().parameters.p_metadata_folder_path",
                                "type": "Expression"
                            },
                            "p_metadata_file_name": {
                                "value": "@pipeline().parameters.p_metadata_file_name",
                                "type": "Expression"
                            }
                        }
                    }
                }
            },
            {
                "name": "Validate Metdata File Path",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_adls2_metadata_json",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_metadata_container": {
                                "value": "@pipeline().parameters.p_metadata_container",
                                "type": "Expression"
                            },
                            "p_metadata_folder_Path": {
                                "value": "@pipeline().parameters.p_metadata_folder_path",
                                "type": "Expression"
                            },
                            "p_metadata_file_name": {
                                "value": "@pipeline().parameters.p_metadata_file_name",
                                "type": "Expression"
                            }
                        }
                    },
                    "timeout": "0.00:02:00",
                    "sleep": 10
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set variable1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('condition_list')",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Set Select Query",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "v_select_query",
                                "value": {
                                    "value": "@{activity('Get Metadata').output.firstRow.source.selectQuery} where @{item()}",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Copy data SqlServer To ADLS2",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Set Select Query",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.05:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": {
                                        "value": "@variables('v_select_query')",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "parallelCopies": 32,
                                "validateDataConsistency": true,
                                "dataIntegrationUnits": 64,
                                "translator": {
                                    "value": "@activity('Get Metadata').output.firstRow.source.mappings",
                                    "type": "Expression"
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_gld_dw_new_tbl_query",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_adls2_data_parquet_file",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "p_container": {
                                            "value": "@activity('Get Metadata').output.firstRow.bronze.container",
                                            "type": "Expression"
                                        },
                                        "p_folder_path": {
                                            "value": "@activity('Get Metadata').output.firstRow.bronze.landingPath",
                                            "type": "Expression"
                                        },
                                        "p_file_name": {
                                            "value": "@{concat(\nactivity('Get Metadata').output.firstRow.source.schema, '_',\nactivity('Get Metadata').output.firstRow.source.tblName, '_',\nformatDateTime(utcnow(), 'yyyyMMddHHmmss')\n)}",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Insert Audit Log Success",
                            "type": "Lookup",
                            "dependsOn": [
                                {
                                    "activity": "Copy data SqlServer To ADLS2",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderStoredProcedureName": "[controller].[insert_audit_record]",
                                    "storedProcedureParameters": {
                                        "dataRead_byte": {
                                            "type": "Int64",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.dataRead",
                                                "type": "Expression"
                                            }
                                        },
                                        "dataWritten_byte": {
                                            "type": "Int64",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.dataWritten",
                                                "type": "Expression"
                                            }
                                        },
                                        "end_time": {
                                            "type": "DateTime",
                                            "value": {
                                                "value": "@formatDateTime(addToTime(activity('Copy data SqlServer To ADLS2').output.executionDetails[0].start\n,activity('Copy data SqlServer To ADLS2').output.copyDuration,'Second'\n),'yyyy-MM-dd hh:mm:ss.sss')",
                                                "type": "Expression"
                                            }
                                        },
                                        "ERROR_MESSAGE": {
                                            "type": "String",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.errors",
                                                "type": "Expression"
                                            }
                                        },
                                        "executionTimeMs": {
                                            "type": "Int64",
                                            "value": {
                                                "value": "0",
                                                "type": "Expression"
                                            }
                                        },
                                        "insert_timestamp": {
                                            "type": "DateTime",
                                            "value": {
                                                "value": "@utcNow('yyyy-MM-dd HH:mm:ss.fff')",
                                                "type": "Expression"
                                            }
                                        },
                                        "layer": {
                                            "type": "String",
                                            "value": {
                                                "value": "History load",
                                                "type": "Expression"
                                            }
                                        },
                                        "numSourceRows": {
                                            "type": "Int64",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.rowsRead",
                                                "type": "Expression"
                                            }
                                        },
                                        "numTargetFilesAdded": {
                                            "type": "Int64",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.filesWritten",
                                                "type": "Expression"
                                            }
                                        },
                                        "numTargetFilesRemoved": {
                                            "type": "Int64",
                                            "value": null
                                        },
                                        "numTargetRowsCopied": {
                                            "type": "Int64",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.rowsCopied",
                                                "type": "Expression"
                                            }
                                        },
                                        "numTargetRowsDeleted": {
                                            "type": "Int64",
                                            "value": null
                                        },
                                        "numTargetRowsInserted": {
                                            "type": "Int64",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.rowsCopied",
                                                "type": "Expression"
                                            }
                                        },
                                        "numTargetRowsUpdated": {
                                            "type": "Int64",
                                            "value": null
                                        },
                                        "operation": {
                                            "type": "String",
                                            "value": "Data Factory Copy"
                                        },
                                        "operationParameters": {
                                            "type": "String",
                                            "value": {
                                                "value": "@concat( '{',\n    'p_metadata_container:',string(pipeline().parameters.p_metadata_container),\n    'p_metadata_folder_path:',string(pipeline().parameters.p_metadata_folder_path),\n    'p_metadata_file_name:',string(pipeline().parameters.p_metadata_file_name),\n    '}'\n)",
                                                "type": "Expression"
                                            }
                                        },
                                        "process_date": {
                                            "type": "DateTime",
                                            "value": {
                                                "value": "@utcNow('yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        },
                                        "process_id": {
                                            "type": "String",
                                            "value": {
                                                "value": "@pipeline().RunId",
                                                "type": "Expression"
                                            }
                                        },
                                        "process_name": {
                                            "type": "String",
                                            "value": "datafactory_load"
                                        },
                                        "process_type": {
                                            "type": "String",
                                            "value": {
                                                "value": "@concat('Data Factory;', pipeline().DataFactory)",
                                                "type": "Expression"
                                            }
                                        },
                                        "rewriteTimeMs": {
                                            "type": "Int64",
                                            "value": null
                                        },
                                        "scanTimeMs": {
                                            "type": "Int64",
                                            "value": null
                                        },
                                        "start_time": {
                                            "type": "DateTime",
                                            "value": {
                                                "value": "@formatDateTime(activity('Copy data SqlServer To ADLS2').output.executionDetails[0].start,\r\n'yyyy-MM-dd hh:mm:ss.sss')",
                                                "type": "Expression"
                                            }
                                        },
                                        "status": {
                                            "type": "String",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.executionDetails[0].status",
                                                "type": "Expression"
                                            }
                                        },
                                        "table_name": {
                                            "type": "String",
                                            "value": {
                                                "value": "@concat(activity('Get Metadata').output.firstRow.source.tblName,'_oth')",
                                                "type": "Expression"
                                            }
                                        },
                                        "throughput": {
                                            "type": "Decimal",
                                            "value": {
                                                "value": "@activity('Copy data SqlServer To ADLS2').output.throughput",
                                                "type": "Expression"
                                            }
                                        },
                                        "update_timestamp": {
                                            "type": "DateTime",
                                            "value": {
                                                "value": "@utcNow('yyyy-MM-dd HH:mm:ss.fff')",
                                                "type": "Expression"
                                            }
                                        },
                                        "userName": {
                                            "type": "String",
                                            "value": null
                                        }
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "ds_sqlserver_controller_tbl",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "p_control_tbl": {
                                            "value": "@activity('Get Metadata').output.firstRow.controller.controlTable",
                                            "type": "Expression"
                                        },
                                        "p_schema": {
                                            "value": "@activity('Get Metadata').output.firstRow.controller.schema",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Set variable1",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "condition_list",
                    "value": {
                        "value": "@split(pipeline().parameters.p_filter_condition,'$')",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "p_metadata_container": {
                "type": "string",
                "defaultValue": "metadata"
            },
            "p_metadata_folder_path": {
                "type": "string",
                "defaultValue": "gld360/pipeline_oth/pl_fact_inbound_line/"
            },
            "p_metadata_file_name": {
                "type": "string",
                "defaultValue": "fact_inbound_line.json"
            },
            "p_filter_condition": {
                "type": "string",
                "defaultValue": "ETL_UPDATE_DATE < convert(datetime,'03-23-2021',110) $ ETL_UPDATE_DATE >= convert(datetime,'03-23-2021',110)"
            }
        },
        "variables": {
            "v_select_query": {
                "type": "String"
            },
            "condition_list": {
                "type": "Array"
            },
            "v_start_ticks": {
                "type": "String"
            },
            "v_end_ticks": {
                "type": "String"
            }
        },
        "folder": {
            "name": "History load"
        },
        "annotations": [],
        "lastPublishTime": "2022-03-16T10:12:52Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}